<style>

body
{
	
}

#MainContent
{
	font-family: Helvetica, Arial, sans-serif;
}

#TitleBar
{
	display:inline;
}

#TitleImageLeft
{	
	float:left;
	padding-left:10%;
	padding-top:4.5%;
}

#TitleText
{
	padding-left:40%;
}

#TitleImageRight
{
	float:right;
	padding-right:10%;
	padding-top:0%;
}

#AddressText
{
	line-height:0%;
}

#MainBlock
{
	display:inline-block;
	padding-left:10%;
}

#PasswordBlock
{
	padding-right:10%;
	padding-top:12%;
	float:right;
}

</style>