<style>

#body
{

}

#MainContent
{
	font-family: Helvetica, Arial, sans-serif;
}

#TitleBar
{
	display:inline;
}

#TitleImageLeft
{	
	float:left;
	padding-left:10%;
	padding-top:4.5%;
}

#TitleText
{
	padding-left:36%;
}

#TitleImageRight
{
	float:right;
	padding-right:12%;
	padding-top:0%;
}

#StoreHeader
{
	padding-left:10%;
	padding-top:10%;
}

#LowerStoreHeader
{
	padding-left:10%;
	padding-top:2%;
}

#StoreProducts
{
	padding-left:10%;
	width:100%;
}

</style>