
html{
	
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body{
	background-color: #242051;
	margin: 0;
	padding: 0;
}

html,body { 
	height: 100%;	
	background-color: #242051;
}

#wrap {
	min-height:100%;
	height:100%
	margin: 0 auto -4em;
	background-color: #242051;
}

.carouselimages:hover {
	opacity: 0.6;
}

#content{
	background-color: #96c177;
	opacity:0.9;
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	min-width: 100px;
	color: #587d71;
	padding-bottom: 100px;
	overflow: auto;
	padding-left: 2%;
	
	
}

.background { 
	border: 2px solid #242051;
}
#header{
	
	text-align: center;
	padding: 11px;
	background-color: #3fdd4d;
	border-bottom: 10px solid #1b5e20;
	border-left: 10px solid #1b5e20;
	border-bottom-left-radius: 50px;
	min-width: 50%;
}

#logo{
	float: left;
}

#logo:hover{
	opacity: 0.8;
}

#controls{
	padding-top: 100px;
}

#buyingInfo{
	float:right;
	padding-bottom: 90px;
}


#basket:hover{
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
}

.cornerButton {
	color: #000000;
	font-weight: bold;
	font-size : small;
	text-decoration: none;
	padding: 10px 15px;
	background:none!important;
	border: none;
	padding: :0!important;
	font: : inherit;
	
	
}

.cornerButton:hover {
	color: 	#FFFFFF;
}

.cornerButton:active {
	color: 	#FFFFFF;
}

#sideButtons{
	float:right;
	padding-bottom: 50;
}

.headFootLinks{
	color: #000000;
	text-decoration: none;
}

.headFootLinks:hover{
	color: #487C7F;
}

.headFootLinks:active{
	color: #487C7F;
}

.headerButton{
	overflow:auto;
	color: #000000;
	font-weight: bold;
	border-bottom: 5px solid #6e9aaf;
	border-left: 5px solid #6e9aaf;
	padding: 10px 20px;
	text-decoration: none;
	background-color: rgba(255,255,255,0.15);
	min-width: 8%;
	width: 50px;
	height 30px;
}

.headerButton:hover{
	background-color: #96c177;
	text-decoration:none;
}

.headerButton:active{
	background-color: rgba(0,0,0,0.15);
}


.searchText{
	width: 325px;
	color: #000000;
	font-weight: bold;
	background-color: rgba(255,255,255,0.2);
	border: none;
	outline: none;
	border-bottom: 4px solid #FFFFFF;
	height: 25px;
	font-size: 16px;
 }
 
.searchText:focus{
	background-color: rgba(255,255,255,0.3);
}
 
.searchButton{
	background-color: rgba(255,255,255,0.15);
	border: 5px solid #6e9aaf;
	color: #000000;
	font-weight: bold;
	border-radius: 5px 10px 10px 5px;
	padding: 5px 5px 0px 5px;
	position:relative;
	top:12px;
	border-left: 0px;
	border-top: 0px;
}
 
.searchButton:hover{
	background-color: #96c177;
}
 
.searchButton:active{
	background-color: rgba(0,0,0,0.15);
	position:relative;
	top:13px;
}

#footer{
	
	position: relative;
	margin-top: -100px;
	height:100px;
	clear:both;
	
	background-color: #A9FF9E;
	font-size: 14px;
	color: #000000;
	padding-bottom: 5px;
	background-color: #3fdd4d;
	border-top: 10px solid #1b5e20;
	border-right: 10px solid #1b5e20;
	border-top-right-radius: 50px;

}

#copyright{
	float:right;
	text-align:left;
}

#footerLinks{

}
