html{
	width: 70%;
	min-width: 700px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url('img/bg.jpg');
	background-size: 100%, 100%;
	background-attachment: fixed;
}

body{
	backgound-color: #FFFFFF;
}

#content{
	background-color: #DDFFDD;
	border-radius: 5px;
}

#header{
	
	text-align: center;
	padding: 11px;
	background-color: #A9FF9E;
	
	border-radius: 20px 20px 5px 5px;
}

#logo{
	float: left;
}

#controls{
	padding-top: 100px;
}

#buyingInfo{
	float:right;
}


#basket:hover{
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
}

.headFootLinks{
	color: #000000;
	text-decoration: none;
}

.headFootLinks:hover{
	color: #487C7F;
}

.headFootLinks:active{
	color: #487C7F;
}

.headerButton{
	
	color: #000000;
	font-weight: bold;
	border: 3px solid #AAFFD2;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #98ee8d;
}

.headerButton:hover{
	background-color: #76CC6B;
}

.headerButton:active{
	background-color: #54AA49;
	position:relative;
	top:1px;
}

.searchText{
	width: 325px;
	color: #000000;
	font-weight: bold;
	background-color: rgba(255,255,255,0.2);
	border: none;
	outline: none;
	border-bottom: 4px solid #FFFFFF;
	height: 25px;
	font-size: 16px;
 }
 
.searchText:focus{
	background-color: rgba(255,255,255,0.3);
}
 
.searchButton{
	background-color: #98ee8d;
	border: 2px solid #000000;
	color: #000000;
	font-weight: bold;
	border-radius: 5px 10px 10px 5px;
	padding: 12px 5px 0px 5px;
	position:relative;
	top:7px;
}
 
.searchButton:hover{
	background-color: #76CC6B;
}
 
.searchButton:active{
	background-color: #035638;
	background-color: #035638;
	position:relative;
	top:8px;
}
 
#footer{
	background-color: #A9FF9E;
	font-size: 14px;
	color: #000000;
	padding-bottom: 5px;
	border-radius: 5px 5px 20px 20px;
}

#copyright{
	float:right;
	text-align:left;
}

#footerLinks{

}
